<!doctype html>
<html lang="{{lang}}">
<head>
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta charset="utf-8">
  <title>{{#if title }}{{ title }}{{else}}{{ site.title }}{{/if}} - {{ site.name }}</title>
  <meta name="description" content="{{#if description }}{{ description }}{{else}}{{ site.description }}{{/if}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no, address=no, email=no">
  <link rel="shortcut icon" href="/static/icon/favicon.ico"/>
  <link rel="icon" type="image/png" href="/static/icon/favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="/static/icon/favicon-16x16.png" sizes="16x16"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png"/>

  {{> _ogp}}

  <link rel="preload" href="{{webpack 'css/style.css' }}" as="style">
  <link rel="preload" href="{{webpack 'js/app.js' }}" as="script">

  <link rel="stylesheet" href="{{webpack 'css/style.css' }}">
  <script src="{{webpack 'js/app.js' }}" defer></script>
</head>

<body>
  <main>
    {{{content}}}
  </main>

  {{> _footer}}
</body>
</html>
